.navbar{
    font-family: 'Open Sans', sans-serif;
  }
  .nav-link:hover{
    background: #344d4c;
    color: #c69d55;
  }
  .dropdown-item:hover{
    background-color: #c69d55;
    background: #344d4c;
    color: #c69d55;}
  .dropdown-menu{
    background-color: #c69d55;
  }